{# EC Footer #}

{% set link_classes = 'ecl-footer-harmonised__link ecl-link ecl-link--standalone' %}

<footer class="ecl-footer-harmonised ecl-footer-harmonised--group2">
  <div class="ecl-container ecl-footer-harmonised__container">
    <section class="ecl-footer-harmonised__section ecl-footer-harmonised__section1">
      <a href="https://ec.europa.eu/info/index_{{ langcode }}" class="ecl-footer-harmonised__title ecl-link ecl-link--standalone" aria-label="Link to European Commission">{{ 'European Commission'|t }}</a>
    </section>
    <section class="ecl-footer-harmonised__section ecl-footer-harmonised__section2">
      <ul class="ecl-footer-harmonised__list">
        <li class="ecl-footer-harmonised__list-item">
          <span><a href="https://ec.europa.eu/info/about-european-commissions-web-presence_{{ langcode }}" class="{{ link_classes }}" aria-label="Link to About the European Commission’s web presence">
            <span>{{ 'About the European Commission’s web presence'|t }}</span>
          </a></span>
        </li>
        <li class="ecl-footer-harmonised__list-item">
          <span><a href="https://ec.europa.eu/info/about-european-commission/contact_{{ langcode }}" class="{{ link_classes }}" aria-label="Link to Contact the European Commission">
            <span>{{ 'Contact the European Commission'|t }}</span>
          </a></span>
        </li>
        <li class="ecl-footer-harmonised__list-item">
          <span><a href="https://europa.eu/european-union/contact/social-networks_{{ langcode }}" class="{{ link_classes }}" aria-label="Link to Follow the European Commission on social media">
            <span>{{ 'Follow the European Commission on social media'|t }}</span>
          </a></span>
        </li>
        <li class="ecl-footer-harmonised__list-item">
          <span><a href="https://ec.europa.eu/info/resources-partners_{{ langcode }}" class="{{ link_classes }}" aria-label="Link to Resources for partners">
            <span>{{ 'Resources for partners'|t }}</span>
          </a></span>
        </li>
      </ul>
    </section>
    <section class="ecl-footer-harmonised__section ecl-footer-harmonised__section3">
      <ul class="ecl-footer-harmonised__list">
        <li class="ecl-footer-harmonised__list-item">
          <span><a href="https://ec.europa.eu/info/languages-our-websites" class="{{ link_classes }}" aria-label="Link to Languages on our websites">
            <span>{{ 'Languages on our websites'|t }}</span>
          </a></span>
        </li>
        <li class="ecl-footer-harmonised__list-item">
          <span><a href="https://ec.europa.eu/info/cookies_{{ langcode }}" class="{{ link_classes }}" aria-label="Link to Cookies">
            <span>{{ 'Cookies'|t }}</span>
          </a></span>
        </li>
        <li class="ecl-footer-harmonised__list-item">
          <span><a href="https://ec.europa.eu/info/privacy-policy_{{ langcode }}" class="{{ link_classes }}" aria-label="Link to Privacy policy">
            <span>{{ 'Privacy policy'|t }}</span>
          </a></span>
        </li>
        <li class="ecl-footer-harmonised__list-item">
          <span><a href="https://ec.europa.eu/info/legal-notice_{{ langcode }}" class="{{ link_classes }}" aria-label="Link to Legal notice">
            <span>{{ 'Legal notice'|t }}</span>
          </a></span>
        </li>
      </ul>
    </section>
  </div>
</footer>
